<div class="leftNavbar">
    <div class="menu_navbar">
        <ul class="menu_links">
            <li class="nav_link">
                <a href="/">
                    <i class="fas fa-home"></i>
                    <span class="text nav_text">Trang chủ</span>
                </a>
            </li>
            <li class="nav_link">
                <a href="/account">
                    <i class="fas fa-user"></i>
                    <span class="text nav_text">Tài khoản</span>
                </a>
            </li>
            <li class="nav_link">
                <a href="#">
                    <i class="fas fa-heart"></i>
                    <span class="text nav_text">Yêu thích</span>
                </a>
            </li>
            <li class="nav_link">
                <a href="#">
                    <i class="fas fa-bookmark"></i>
                    <span class="text nav_text">Theo dõi</span>
                </a>
            </li>
            <li class="nav_link">
                <a href="/category">
                    <i class="fas fa-list"></i>
                    <span class="text nav_text">Thể loại</span>
                </a>
            </li>
            <li class="nav_link">
                <a href="#">
                    <i class="fas fa-comments"></i>
                    <span class="text nav_text">Forum</span>
                </a>
            </li>
            <li class="nav_link">
                <a href="#">
                    <i class="fas fa-phone"></i>
                    <span class="text nav_text">Liên hệ</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var currentLocation = window.location.pathname;
        var menuLinks = document.querySelectorAll('.menu_links .nav_link a');

        menuLinks.forEach(function(link) {
            if (link.getAttribute('href') === currentLocation) {
                link.classList.add('active'); 
            }
        });
    });

</script>